configuration {
    font: "JetBrains Mono Nerd Font 16";
    modi: "drun,run";
    width: 32;
    lines: 12;
    terminal: "kitty";
    prompt: "Apps: ";
    display-drun: "Apps: ";
    show-icons: true;
    sidebar-mode: true;
    location: 0;
}

@theme "night"
