* {
    background: #080808dd;
    foreground: #cdd6f4ff;
    selected-background: #323232ff;
    selected-foreground: #cdd6f4ff;
    selected-match: #74c7ecff;
    border: 2;
    border-radius: 6;
    border-color: #363636ff;

    prompt: #bac2deff;
    placeholder: #7f849cff;
    input: #cdd6f4ff;
    match: #74c7ecff;
    counter: #7f849cff;
}
