[Desktop Entry]
Name=Discord (Wayland)
Exec=discord --ozone-platform=wayland --enable-features=WaylandWindowDecorations
Type=Application
Categories=Network;Chat;
