[Desktop Entry]
Name=Teams
Exec=teams-for-linux
# Exec=teams-for-linux --ozone-platform=wayland --enable-features=WaylandWindowDecorations
Icon=teams-for-linux
Type=Application
Categories=Network;Chat;
