layer-rule {
   match namespace="swww-daemon"
   place-within-backdrop true
   block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
   match title="Media viewer"
   match title="flameshot"
   match app-id="blueman-manager"
   match app-id="xdg-desktop-portal-gtk"

   open-fullscreen false
   open-floating true
}
