spawn-at-startup "xwayland-satellite"
spawn-at-startup "xdg-desktop-portal-gtk"
spawn-at-startup "xdg-desktop-portal-gnome"

spawn-at-startup "swww-daemon" 
spawn-at-startup "sleep" "2" "&&" "swww" "img" "~/wallpaper.jpg"
